.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.E-WasteEducation
{
    height: 400px;
    width: 400px;
 
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 4rem rgb(49, 105, 211),inset 0 0 4rem rgb(151, 251, 80);
}
h1{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .read-more{
    height: 100px;
    width: 100px;
  }
  p{
    height: 10px;
    width: 100px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 6px;
    background-color: rgb(231, 237, 237);
  }
  p:hover{
    background: transparent;
    background-color: rgb(153, 153, 239);
    color:black
  }
  